exposure-api/bin
exposure-api/obj
.vs
.sonarqube
/exposure-database/obj/Debug
/exposure-database/exposure-database.jfm
/exposure-database/exposure-database.dbmdl
/exposure-database/bin/Debug
/ExpBuilder/obj
/ExpBuilder/bin/Debug/netcoreapp3.1
/exposure-modules/obj
/exposure-modules/bin/Debug/netcoreapp3.1
/exposure-extensions/obj
/exposure-extensions/bin/Debug/netcoreapp3.1
/exposure-core/obj
/exposure-core/bin/Debug/netcoreapp3.1
/ExpBuilder/bin/Release/netcoreapp3.1
/exposure-core/bin/Release/netcoreapp3.1
/exposure-extensions/bin/Release/netcoreapp3.1
/exposure-modules/bin/Release/netcoreapp3.1
